body{
    padding: 0;
    margin: 0;
    background-color: rgb(171, 166, 176);
}
.container{
     margin-top: 200px; 
}
.opt{
    size: 2rem;
    font-size: 2rem;
}
.selec{
    width: 565px;
    height: 40px; 
}
#selecLongitud{
margin-top: 50px;
}
.longitud1{
    width: 565px;
    height: 40px;
    display: block;
}
.masa1{
    width: 565px;
    height: 40px;
    display: block;
}
.temp1{
    width: 565px;
    height: 40px;
    display: block;
}
.ohms1{
    width: 565px;
    height: 40px;
    display: flex;
    
}
#numero{
    width: 560px;
    height: 40px; 
    margin-top: 10px;
}
#convertir{
    background-color: rgba(48, 113, 242, 0.811);
   height: 46px;
   width: 567px; 
   display: block;
   margin-top: 20px;
}
.numero1{
    width: 557px;
     height: 40px;
     margin-top: 50px; 
     display: block;
}
.numero2{
    width: 557px;
     height: 40px; 
}
.num{
    size: 3rem;
    
} 
#alertError{
    width: 564px;
    background-color: rgb(222, 141, 141);
    margin-top: 10px;
}
#rta{
    width: 565px;
    height: 40px;
    size: 2rem;
    margin-top: 10px;
}
